.FiltersForm {
  &__inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 -15px;
  }

  &__inputCol {
    flex: 1 1 25%;
    padding: 0 0 15px 15px;

    @media (max-width: 992px) {
      flex: 0 0 50%;
    }

    @media (max-width: 767px) {
      flex: 0 0 100%;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0 0 0;
    border-top: 1px solid #eeeeee;
  }

  &__button {
    margin: 0 0 0 15px;
  }
}
